atomicwrites
attrs
boto3
botocore
certifi
charset-normalizer
colorama
flake8
idna
importlib-metadata
iniconfig
jmespath
mccabe
packaging
pluggy
py
pycodestyle
pyflakes
pyparsing
pytest
python-dateutil
python-dotenv
requests
s3transfer
sentry-sdk
six
toml
urllib3
zipp